/* FlightInfo.css */

/* Style for the entire card container */
.flightCard {
  /* Define styles for the entire card container here */
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

/* Styles for the flight logo */
.FlightLogo {
  max-width: 50px;
  height: 50px;
  object-fit: contain; /* This will ensure the image fits within the defined space */
}

/* Styles for text1 */
.text1 {
  /* Define styles for text1 here */
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

/* Styles for the accordion */
.accordion {
  /* Define styles for the accordion here */
  margin-bottom: 20px;
  background-color: white;
  align-items: center;

  .text1 {
    /* Define styles for text1 here */
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
  }
}

/* Adjust and add more styles as needed */
